<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a routerLink="/home">U Kozlíků</a>
  </div>
  <div fxLayout fxHide.xs>
    <mat-nav-list fxFlex fxLayoutGap="1em" fxLayout="row">
      <a mat-list-item routerLink="/pizza"
        ><mat-icon>local_pizza</mat-icon
        ><span class="nav-caption">Pizza</span></a
      >
      <a mat-list-item routerLink="/drinks"
        ><mat-icon>local_bar</mat-icon
        ><span class="nav-caption">Nápoje</span></a
      >
      <a mat-list-item routerLink="/news"
        ><mat-icon>notifications</mat-icon
        ><span class="nav-caption">Novinky</span></a
      >
      <a mat-list-item routerLink="/contact"
        ><mat-icon>contact_page</mat-icon
        ><span class="nav-caption">Kontakt</span></a
      >
      <a mat-list-item routerLink="/career"
        ><mat-icon>work</mat-icon><span class="nav-caption">Zaměstnání</span></a
      >
    </mat-nav-list>
  </div>
</mat-toolbar>
