<mat-toolbar
  color="primary"
  fxLayoutGap="var(--spacing-medium)"
  fxLayoutAlign="space-between center "
>
  <div fxLayout="row" fxLayoutGap="var(--spacing-medium)">
    <div fxHide.gt-sm>
      <button mat-icon-button (click)="onToggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div class="logo">
      <a routerLink="/home" class="mat-display-1">U Kozlíků</a>
    </div>
  </div>
  <div fxLayout fxHide.lt-md>
    <mat-nav-list fxFlex fxLayoutGap="var(--spacing-medium)" fxLayout="row">
      <a mat-list-item routerLink="/home"
        ><mat-icon>home</mat-icon><span class="nav-caption">Domů</span></a
      >
      <a mat-list-item routerLink="/pizza"
        ><mat-icon>local_pizza</mat-icon
        ><span class="nav-caption">Pizza</span></a
      >
      <a mat-list-item routerLink="/drinks"
        ><mat-icon>local_bar</mat-icon
        ><span class="nav-caption">Nápoje</span></a
      >

      <a mat-list-item routerLink="/contact"
        ><span class="nav-caption">Kontakt</span></a
      >
      <a mat-list-item routerLink="/career"
        ><span class="nav-caption">Zaměstnání</span></a
      >
    </mat-nav-list>
  </div>
</mat-toolbar>
