<section fxLayoutAlign="none center" fxLayout="column" class="heading">
  <h1 class="title mat-display-1">
    Restaurace a pizzerie <br />
    <span class="mat-display-4">U Kozlíků</span>
  </h1>

  <h1 class="mat-h1">
    Adresa
  </h1>
  <p>
    Spojilská 1711 Pardubice 530 03
  </p>
  <span
    fxLayout="row"
    fxLayoutAlign="none center"
    fxLayoutGap="var(--spacing-medium)"
  >
    <span>Telefon: </span>
    <a href="tel:+420733609616">733 609 616</a>
    <a href="tel:+420466652163">466 652 163</a>
  </span>
  <iframe
    class="map"
    style="border: none;"
    src="https://frame.mapy.cz/s/fopobehane"
    width="500"
    height="400"
    frameborder="0"
  ></iframe>
</section>
