:host {
  display: block;
  min-height: 200px;
  margin-bottom: var(--spacing-large);
}
table {
  border-collapse: collapse;
}
table > tr > td {
  border: 1px solid #be9c91;
  padding: var(--spacing-small);
}

table > tr:nth-child(2n) {
  background-color: #be9c9134;
}

h2 {
  margin-top: var(--spacing-medium);
}
