<div fxLayout="column" fxLayoutAlign="center center">
  <h2>
    Pizzy
  </h2>
  <table>
    <tr>
      <th></th>
      <th>
        Malá
      </th>
      <th>
        Velká
      </th>
      <th></th>
    </tr>
    <tr *ngFor="let pizza of pizzas$ | async as pizzas">
      <td>{{ pizza.id }}. {{ pizza.name }}</td>
      <td>{{ pizza.small }},- {{ currency }}</td>
      <td>{{ pizza.big }},- {{ currency }}</td>
      <td>{{ formatIngredients(pizza.ingredients) }}</td>
    </tr>
  </table>

  <div fxLayout="column" fxLayoutAlign="center center">
    <h2>Extra přísady na pizzu</h2>
    <table>
      <tr>
        <th></th>
        <th>
          Cena
        </th>
      </tr>
      <tr
        *ngFor="let ingredient of extraIngredients$ | async as extraIngredients"
      >
        <td>
          {{ formatIngredients(ingredient.ingredients) }}
        </td>
        <td>{{ ingredient.price }},- {{ currency }}</td>
      </tr>
    </table>
  </div>
</div>
